<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mymoviedb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMovieDB"
        tools:targetApi="31">
        <activity
            android:name=".activities.SeriesDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyMovieDB.SharedViewTransition"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivitySeries"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyMovieDB.Main" />
        <activity
            android:name=".activities.VideoPlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/Theme.MyMovieDB.Main" />
        <activity
            android:name=".activities.MovieDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyMovieDB.SharedViewTransition" />
        <activity
            android:name=".activities.SearchResultActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyMovieDB.Main" />
        <activity
            android:name=".activities.MainActivityMovies"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyMovieDB.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>